<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Servir archivos y carpetas estáticas directamente
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Todo lo demás redirecciona a index.html (React Router)
  RewriteRule ^ index.html [L]
</IfModule>
